version: 1.3.{build}
skip_tags: true
image: Visual Studio 2022
configuration: Release
dotnet_csproj:
  patch: true
  file: '.msbuild\custom.targets'
  version: '{version}'
  file_version: '{version}'
  package_version: '{version}'
  informational_version: $(APPVEYOR_REPO_BRANCH):$(APPVEYOR_REPO_COMMIT)
before_build:
  - cmd: |
      setlocal enabledelayedexpansion
      setlocal EnableExtensions

      REM Set version attributes..
      Tools\UnixUtils\sed.exe -i -e "s|0\.0\.0\.0|%APPVEYOR_BUILD_VERSION%|g" .msbuild\custom.targets
      Tools\UnixUtils\sed.exe -i -e "s|GIT_COMMIT|%APPVEYOR_REPO_COMMIT%|g" .msbuild\custom.targets
      Tools\UnixUtils\sed.exe -i -e "s|VERSION_STRING|%APPVEYOR_REPO_BRANCH%:%APPVEYOR_REPO_COMMIT%|g" .msbuild\custom.targets

      REM Restoring NuGet packages..
      appveyor-retry nuget restore ./Source/EasyNetQ-Legacy.NetStandard.sln
build:
  publish_nuget: true
  publish_nuget_symbols: true
  use_snupkg_format: true
  verbosity: normal
deploy:
  - provider: NuGet
    api_key:
      secure: DHHLD6VN/tOostoHI6TBXznoSBUKTDbjWAThjfbRMECgfTH8MkoKI2M1UyPwbXaY
notifications:
  - provider: Email
    to:
      - '{{commitAuthorEmail}}'
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true

